body{
    background-color: blue;
    font-family: bold;
    color: red;
    font-size:18px;
}

.boton{
    padding: 10px 30px 10px 30px;
    background-color: brown;
    color: white;
    font-weight: bold;
    border-radius: .3rem;
    transition: .3s ease-out;
}
.boton:hover{
    cursor: pointer;
    background-color: rgb(78, 21, 21);
    color: whitesmoke;
    transition: .3s ease-out;
}
